.inner-tab {
    background: url("../../public/Kitchen BG.png");
    background-position: center;
    background-size: cover;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5vmin);
    padding-top: 5vmin;
}

.game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-image: url("../../public/game window.png");
    border-image-slice: 100 50 50 450;
    border-style: solid;
    border-width: 10vmin 5vmin 5vmin 45vmin;
    z-index: 101;
    pointer-events: none;
}

.game-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10vmin;
    aspect-ratio: 516/100;
    background-size: contain;
    background-image: url("../../public/cat.png");
    z-index: 102;
    pointer-events: none;
}

.team-nickname {
    font-size: 2.5vmin;
    z-index: 105;
    top: 3.2vmin;
    position: absolute;
    left: 6.3vmin;
    text-shadow: -1px 1px 0 var(--raised-background), 1px 1px 0 var(--raised-background), 1px -1px 0 var(--raised-background), -1px -1px 0 var(--raised-background);
}

.manager-header {
    width: calc(100% - 10vmin);
}

.manager-header .row {
    align-items: center;
    width: 100%;
}

.manager-header .button {
    font-size: 4vmin;
    padding: 2vmin;
    height: 8vmin;
}

.modifier-toggle {
    padding-right: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.modifier-toggle.collapsed {
    transform: translate(-5px, -5px) rotate(-90deg);
}

.resource-box {
    font-size: 2vmin;
    align-items: center;
    image-rendering: pixelated;
    border-style: solid;
    height: 3vmin;
    display: flex;
    filter: drop-shadow(2px 4px 6px black);
}

.resource-box.wins {
    border-image: url("../../public/win bar.png");
    border-image-slice: 12 12 18 96 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 4vmin;
}

.resource-box.lives {
    border-image: url("../../public/health bar.png");
    border-image-slice: 12 12 18 84 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 3.5vmin;
}

.resource-box.moguls {
    border-image: url("../../public/money bar.png");
    border-image-slice: 12 12 18 84 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 3.5vmin;
}

.resource-box:not(:last-child) {
    margin-right: 1vmin !important;
}

.shop {
    margin-top: 10vh !important;
    position: relative;
    filter: drop-shadow(2px 4px 6px black);
}

.shop .row {
    border-image: url("../../public/shop window.png");
    border-image-slice: 106 53 53 424 fill;
    border-style: solid;
    border-width: 5vmin 2.5vmin 2.5vmin 20vmin;
    width: 72.5vmin;
    justify-content: flex-start;
    align-items: center;
}

.shop .row::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5vmin;
    aspect-ratio: 516/102;
    background-size: contain;
    background-image: url("../../public/shop cat.png");
    z-index: 3;
    pointer-events: none;
}

.reroll {
    margin-left: -19vmin !important;
    margin-top: -1vmin !important;
    height: 18vmin;
    cursor: pointer;
    user-select: none;
    transition-duration: 0s;
	image-rendering: pixelated;
}

.reroll img {
    height: 100%;
    transform: scale(1.5) translateY(-18%);
    filter: drop-shadow(2px 4px 6px black);
}

.startStream {
    height: 16vmin;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    margin-right: 0 !important;
    margin-bottom: -8vmin !important;
}

.waiting {
    font-size: 4vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
}

.battle-container {
    display: flex;
    flex-direction: column;
}

.battle-container:not(.fast) * {
    transition-duration: 1s;
}

.teams-container {
    display: flex;
    height: calc(93vh - 154px);
    width: 93%;
    flex-direction: column;
}

.team-container {
    display: flex;
    margin: 2vmin 0;
    height: calc(50% - 4vmin);
}

.team-container:first-child {
    flex-direction: row-reverse;
}

.stream-container {
    height: 100%;
    width: calc(100% - 18vmin);
    border: solid 2px var(--accent1);
    position: relative;
    background: var(--background);
    filter: drop-shadow(2px 4px 6px black);
}

.stream-details {
    position: absolute;
    top: 1vmin;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2vmin);
}

.stream-details .stats {
    display: flex;
    margin-top: 1vmin;
    width: 100%;
}

.view-counter {
    font-size: 2vmin;
    flex-grow: 1;
    text-align: right;
}

.streamers-container {
    width: 90%;
    height: 18vmin;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.members-container {
    width: 18vmin;
}

.members-container .col {
    flex-flow: column-reverse;
}

.members-container .tooltip-container {
    margin-bottom: 0;
    margin-top: -4vmin;
}

.members-container .tooltip-container:last-child {
    margin-bottom: -2vmin;
}

.streamers-container .row {
    flex-flow: row
}

.battle-controls {
    display: flex;
}

.battle-controls .button {
    display: flex;
    flex-direction: column;
    font-size: 2vmin;
    margin: 1vmin;
    border: solid 2px var(--link);
    border-radius: var(--border-radius);
}

.battle-controls .button.active {
    background: var(--link);
    color: var(--feature-foreground);
}

.outcome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vmin 4vmin;
    background: var(--tooltip-background);
    border-radius: 4vmin;
    font-size: 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--feature-foreground);
}

.outcome span {
    margin: 1vmin;
}

.character-transition-enter-from {
    transform: translateY(100%);
}
.character-transition-leave-to {
    transform: translateY(-100%);
}
.character-trensition-active {
    position: absolute;
}

.total-outcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.total-outcome {
    font-size: 4vmin;
    margin: 0;
}

.smiley {
    font-size: 20vmin;
    margin: 0;
    animation: swing 2s infinite ease;
}

.total-outcome-container .button {
    margin: 0;
    font-size: xx-large;
}

.tooltip img {
    height: 1em;
    padding-right: 0.5em;
}

@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}
