.stream-bg {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.stream-container .stream-bg {
    position: absolute;
    top: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 13vmin + 100px);
    margin-top: calc(10vmin - 50px);
    margin-left: calc(3vmin - 10px);
    margin-right: calc(3vmin - 10px);
    margin-bottom: calc(3vmin - 50px);
}

.game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-image: url("../../public/game window.png");
    border-image-slice: 100 50 50 450;
    border-style: solid;
    border-width: 10vmin 5vmin 5vmin 45vmin;
    z-index: 101;
    pointer-events: none;
}

.game-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10vmin;
    aspect-ratio: 516/100;
    background-size: contain;
    background-image: url("../../public/cat.png");
    z-index: 102;
    pointer-events: none;
}

.team-nickname {
    font-size: 2.5vmin;
    z-index: 105;
    top: 3.2vmin;
    position: absolute;
    left: 6.3vmin;
    text-shadow: -1px 1px 0 var(--raised-background), 1px 1px 0 var(--raised-background), 1px -1px 0 var(--raised-background), -1px -1px 0 var(--raised-background);
}

.manager-header {
    width: calc(100% - 10vmin);
}

.manager-header .row {
    align-items: center;
    width: 100%;
}

.manager-header .button {
    font-size: 4vmin;
    padding: 2vmin;
    height: 8vmin;
}

.modifier-toggle {
    padding-right: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.modifier-toggle.collapsed {
    transform: translate(-5px, -5px) rotate(-90deg);
}

.resource-box {
    font-size: 2vmin;
    align-items: center;
    image-rendering: pixelated;
    border-style: solid;
    height: 3vmin;
    display: flex;
    filter: drop-shadow(2px 4px 6px black);
}

.resource-box.wins {
    border-image: url("../../public/win bar.png");
    border-image-slice: 12 12 18 96 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 4vmin;
}

.resource-box.lives {
    border-image: url("../../public/health bar.png");
    border-image-slice: 12 12 18 84 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 3.5vmin;
}

.resource-box.moguls {
    border-image: url("../../public/money bar.png");
    border-image-slice: 12 12 18 84 fill;
    border-width: 0.5vmin 0.5vmin 0.75vmin 3.5vmin;
}

.resource-box:not(:last-child) {
    margin-right: 1vmin !important;
}

.stream-types .row {
    border-image: url("../../public/stream type.png");
    border-image-slice: 81 54 54 756 fill;
    border-style: solid;
    border-width: 3.75vmin 2.5vmin 2.5vmin 35vmin;
    width: 54vmin;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.stream-types .row > * {
    flex-grow: 1;
}

.stream-type {
    display: flex;
    flex-direction: column;
    padding: 1vmin 0 0.5vmin 0;
    cursor: pointer;
    width: 100%;
    font-size: 2vmin;
}

.stream-type.active {
    background-color: var(--raised-background);
    border-radius: var(--border-radius);
}

.stream-type img {
    width: 6vmin;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
}

.stream-types > .row > *:first-child {
    margin-left: -32vmin;
}

.shop {
    position: relative;
    filter: drop-shadow(2px 4px 6px black);
}

.shop .row {
    border-image: url("../../public/shop window.png");
    border-image-slice: 106 53 53 424 fill;
    border-style: solid;
    border-width: 5vmin 2.5vmin 2.5vmin 20vmin;
    width: 54vmin;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.no-margin .row {
    margin: 0;
    flex-flow: row;
    z-index: 10;
}

.shop .row::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5vmin;
    aspect-ratio: 516/102;
    background-size: contain;
    background-image: url("../../public/shop cat.png");
    z-index: 3;
    pointer-events: none;
}

.shop > .row > *:first-child {
    margin-left: -18vmin;
}

.reroll {
    margin: auto -1vmin;
    height: 18vmin;
    cursor: pointer;
    user-select: none;
    transition-duration: 0s;
	image-rendering: pixelated;
}

.reroll img {
    height: 100%;
    transform: scale(1.5) translateY(-18%);
    filter: drop-shadow(2px 4px 6px black);
}

.startStream {
    height: 16vmin;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    margin-right: 0 !important;
    margin-bottom: -8vmin !important;
}

.waiting {
    font-size: 2vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
}

.battle-container {
    display: flex;
    flex-direction: column;
    margin: -25px 0;
    height: calc(100% + 50px);
}

.battle-container:not(.fast) * {
    transition-duration: 1s;
}

.teams-container {
    display: flex;
    height: calc(93vh - 104px);
    width: 93%;
    flex-direction: column;
}

.team-container {
    display: flex;
    margin: 2vmin 0;
    height: calc(50% - 4vmin);
}

.team-container:first-child {
    flex-direction: row-reverse;
}

.stream-container {
    height: 100%;
    width: calc(100% - 18vmin);
    border: solid 2px var(--accent1);
    position: relative;
    background: var(--background);
    filter: drop-shadow(2px 4px 6px black);
    text-shadow: -1px 1px 0 var(--raised-background), 1px 1px 0 var(--raised-background), 1px -1px 0 var(--raised-background), -1px -1px 0 var(--raised-background);
    z-index: 1;
}

.stream-details {
    position: absolute;
    top: 1vmin;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2vmin);
}

.stream-details .stats {
    display: flex;
    margin-top: 1vmin;
    width: 100%;
}

.view-counter {
    font-size: 2vmin;
    flex-grow: 1;
    text-align: right;
}

.streamers-container {
    width: 90%;
    height: 18vmin;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.members-container {
    margin: auto 0;
}

.members-container .col {
    flex-flow: column-reverse;
}

.members-container .tooltip-container {
    margin-left: 0;
    margin-right: -4vmin;
}

.members-container .tooltip-container:last-child {
    margin-left: -2vmin;
}

.team-container:last-child .members-container .tooltip-container {
    margin-left: -4vmin;
    margin-right: 0;
}

.team-container:last-child .members-container .tooltip-container:last-child {
    margin-right: -2vmin;
}

.streamers-container .row {
    flex-flow: row
}

.battle-arrow {
    font-size: 5vmin;
    margin: auto 2vmin;
}

.battle-controls {
    display: flex;
}

.battle-controls .button {
    margin: 1vmin;
}

.battle-controls .button.active {
    filter: brightness(0.65);
}

.battle-controls .button img {
    height: 7vmin;
    image-rendering: pixelated;
}

.outcome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

.character-transition-enter-from {
    transform: translateX(-200%);
}
.character-transition-leave-to {
    transform: translateX(-200%);
}
.team-container:first-child 
.character-transition-leave-to {
    transform: translateX(200%);
}
.streamer-transition-enter-from {
    transform: translateY(100%);
    opacity: 0;
}
.streamer-transition-leave-to {
    transform: translateY(50%) rotate(45deg);
    opacity: 0;
}
.character-trensition-active,
.streamer-transition-active {
    position: absolute;
}

.total-outcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.smiley {
    margin: 0 auto;
    animation: swing 2s infinite ease;
    height: 35vmin;
    image-rendering: pixelated;
}

.total-outcome-container .replay {
    margin: 0 auto;
    height: 15vmin;
}

.tooltip img {
    height: 1em;
    padding-right: 0.5em;
}

@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}

@media (orientation: landscape) {
    .members-container .col {
        flex-direction: row-reverse;
    }

    .team-container:first-child .members-container .col {
        flex-direction: row;
    }

    .stream-container {
        width: 50%;
        margin: 0;
    }
}

@media (orientation: portrait) {
    .members-container .tooltip-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: -4vmin;
    }
    
    .members-container .tooltip-container:last-child {
        margin-bottom: -2vmin;
    }

    .battle-arrow {
        margin: -2vmin auto 2vmin auto;
    }
}
